/* *{
    margin: 0px;
    padding: 0px;
} */

.color-{
    color: #E95A08;
}
.noto-serif- {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
}

.inter-{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

img{
    width: 100%;
}

header{
    max-width: 1140px;
    margin: auto;

}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c1bdec;
}
.item-logo li{
list-style: none;
}
.item-logo {
    display: flex;
}
li a{
    text-decoration: none;
   
}
.hom{
    font-size: bold;
    color: black;
}
 .list-item{
    margin: 0 20px;
 }
 .bannar{
    display: flex;
   justify-content: center;
   align-items: end;
   width: 100%;
   /* height: 460px;
   border: 220px 150px; */
   background-color: antiquewhite;

 }
 .banar-menu{
   justify-content: center;
   align-items: end;
   width: 590px;
   gap: 13px;
 }
.title {
    font-weight: bold;
    font-size: 65px;

}
.description{
    font-size: 22px;
    font-weight: 400;
    color: black;
    opacity: 50%;
}
.our-plant{
    /* width: 100%; */
    max-width: 1140px ;
    margin: 0 auto;
    
}
.our-contain{
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    /* padding: 80px 124px; */
}
.our-title{
    font-size: 50px;
    font-weight: 700;
    gap: 13px;
}
.our-description{
    font-size: 22px;
    font-weight: 400;
    color: black;
    opacity: 50%;
}

.img-contain{
    width: 270px;
    /* width: 100%; */
}
.containers{
    max-width: 1140px;
 /* width: 270px; */
 display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 24px;
  margin: 0 auto;
}
.contain{

}
.btn-{
    text-align: center;
    color:white;
    background-color: #E95A08;
    border: none;
    width: 100%;
    padding: 25px 50px;
    font-size: 16px;
    font-weight: 600;
}
.lily{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}
.usd{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

/* flower flower flower */

.section-mb{
    width: 100%;
    /* width: 1140px; */
    /* margin: 150px 150px; */
    margin-top: 150px;
   
}
.our-flower{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 1141px;
    margin: 0 auto;
}
.flower-img{
    width: 100%;
    /* height: 587px; */
}
.flower-content{
    /* width: 50%; */
    
}
.f-list{
    /* margin-left: 73px; */
}
.f-content{
    width: 100%;
}

.yes{
  text-align: left;
  /* margin-left: 85px; */
  font-size: 30px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
}
.done{
    margin: 20px 0;
}
.p-descrip{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

 




/* media media media  */
/* media media media  */


@media screen and (max-width:576px){
    logo, .banar-menu{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .list-item{
        display: none;
    }
    .png-img,.card{
        display: flex;
        justify-content: space-between;
    }
    .bannar{
        flex-wrap: wrap-reverse;
    }
    .containers{
        display: grid;
     grid-template-columns: repeat(2,1fr);
      gap: 15px;
    }
    .img-contain{
    width: 190px;}
    /* .flower-content, .flower-img{
        display: grid;
     grid-template-columns: repeat(1,1fr);
      gap: 15px;
    } */
     .our-flower{
        flex-direction: column;
       margin-top: 100px;
       /* margin-left: -500px; */
       width: 100%;
     }
    .flower-img{
        width:100%;
    }
    .flower-content{
        width: 95%;
    }
    
}