
.color-{
    color: #E95A08;
}
.noto-serif- {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
}

.inter-{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

img{
    width: 100%;
}

header{
    max-width: 1140px;
    margin: auto;

}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-logo li{
list-style: none;
}
.item-logo {
    display: flex;
}
li a{
    text-decoration: none;
   
}
.home{
    font-weight: bold;
    color: black;
}
 .list-item{
    margin: 0 20px;
 }
 .bannar{
    display: flex;
   justify-content: center;
   align-items: end;
   width: 100%;

 }
 .banar-menu{
   justify-content: center;
   align-items: end;
   width: 590px;
   gap: 13px;
 }
.title {
    font-weight: bold;
    font-size: 65px;

}
.description{
    font-size: 22px;
    font-weight: 400;
    color: black;
    opacity: 50%;
}
.our-plant{
    max-width: 1140px ;
    margin: 0 auto;
    
}
.our-contain{
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.our-title{
    font-size: 50px;
    font-weight: 700;
    gap: 13px;
}
.our-description{
    font-size: 22px;
    font-weight: 400;
    color: black;
    opacity: 50%;
}

.img-contain{
    width: 270px;
}
.containers{
    max-width: 1140px;
 display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 24px;
  margin: 0 auto;
}
.contain{

}
.btn-{
    text-align: center;
    color:white;
    background-color: #E95A08;
    border: none;
    width: 100%;
    padding: 25px 50px;
    font-size: 16px;
    font-weight: 600;
}
.lily{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}
.usd{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

/* flower flower flower */

.section-mb{
    width: 100%;
    margin-top: 150px;
   
}
.our-flower{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 1141px;
    margin: 0 auto;
}
.flower-img{
    width: 100%;
}

.f-content{
    width: 100%;
}

.yes{
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
}
.done{
    margin: 20px 0;
}
.p-descrip{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

 /* letest deals */
.section-mm{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


 .latest-deal{
justify-content: center;
text-align: center;

margin: 0 auto;
 }
 
.latest-heading{
    font-size: 50px;
    font-weight: 700;
     font-family: "Noto Serif", serif;
}

.latest-description{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
}
.btn-2{
    color: #E95A08;
}


.deals {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
     overflow-x: 0;
}

.deals-section {
    display: flex;
    gap: 30px;
    padding: 50px 0;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.right-column {
    flex: 2;
}

.deals-card {
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 12px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.deals-card a {
    color: white;
    font-size: 24px;

}

.deals-card:nth-child(1) {
    background-image: url('./assets/deal-bloom.png');
}

.deals-card:nth-child(2) {
    background-image: url('./assets//deal-ana.png');
}

.right-column .deals-card {
    background-image: url('./assets/deal-zabo.png');
    height: 415px;
}




.join{
    background-image: url(./assets/news-letter-bg.png);
    background-size: cover;
     width: 100%;
     background-repeat: no-repeat;
}
.latest-input{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    align-items: center;
    padding-bottom: 100px;
}
 .latest-input input{
 border: none;
width: 80%;
padding: 10px;

 }


.latest-title2{
    font-size: 2.5rem;
    color: aliceblue;
    text-align: center;
    padding: 100px 0 40px 0;
}


.same{
    background-color: #E95A08;
    text-align: center;
    color: azure;
    border: none;
    padding: 10px 30px;
}

/* footer start hoilo */
.logos{
    margin: auto;
    width: 100%;
}

.arakta{
    margin: auto;
    width: 90%;
}

.all-foot{
    justify-content: space-around;
    margin:0 auto;
     display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding : 60px 0;
}
.imger{
    display: flex;
    gap: 25px;
    align-items: center;
    
}
.title-f{
    font-size: 22px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: rgba(107, 114, 128, 1);

}
.footer-column{
    
} 
.logos{
    width: 80px;
    height: 80px;
    margin: 0 ;
    padding: 0;
}

.imger div:nth-child(2){
    margin-top: 8px;
}

/* media media media  */
/* media media media  */


@media screen and (max-width:576px){
    logo, .banar-menu{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .list-item{
        display: none;
    }
    .png-img,.card{
        display: flex;
        justify-content: space-between;
    }
    .bannar{
        flex-wrap: wrap-reverse;
    }
    .containers{
        display: grid;
     grid-template-columns: repeat(2,1fr);
      gap: 15px;
    }
    .img-contain{
    width: 190px;}
#home{
    display: block;
}

     .our-flower{
        flex-direction: column;
       margin-top: 100px;
       width: 100%;
     }
    .flower-img{
        width:100%;
    }
    .flower-content{
        width: 95%;
    }


  
.all-foot{
     display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}
 .latest-input input{
 border: none;
width: 100%;
padding: 10px;

 }
.same{
    background-color: #E95A08;
    text-align: center;
    color: azure;
    border: none;
    padding: 10px 15px;
}
.deals-section {
        display: flex;
        flex-direction: column;
    }

    .deals-card a {
        color: white;
        font-size: 24px;

    }

    .deals-card h1, h3 {
        font-size: 30px;
    }

    .right-column .deals-card {
        height: 200px;

    }
    .title {
    font-weight: bold;
    font-size: 40px;

}

}
